# Unity
Library/
Temp/
Logs/
UserSettings/
ProfileAnalyzer/

# Windows
Thumbs.db*

# Mac
.DS_Store

# Visual Studio
*.aps
*.suo
bin/
obj/
*.sln
*.csproj
.vs/

# Rider
*.DotSettings*
.idea
*.userprefs
*.user

# dotsnav
Build/
Ignored/
Ignored.meta